body{
  background-color: lightblue;
}
// Universal Styles
$standardBorder: 1px solid black;
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #4d4d4d;
}




.visibleNav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 50px;
  background-image: url("../images/background2.jpg");
    background-attachment: fixed;
  h1 {
    line-height: 50px;
    text-align: right;
    font-size: 25px;
  }
  button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 10px;
  }
}

nav {
  background-color: #ccc;
  position: sticky;
  top: 0;
}

.navLinks {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  li {
    list-style-type: none;
    margin: 40px 0;
    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
    }
  }
}

.background {
  margin: 0 10%;
  padding-bottom: 20px;
  width: 80%;
  background-color: lightblue;
  .header {
    display: block;
    .mainInfo {
      width: 80%;
      margin: 20px 10%;
      * {
        margin-bottom: 5px;
      }
      h1 {
        font-weight: lighter;
        font-size: 20px;
      }
      h2 {
        font-size: 17px;
        font-weight: bold;
      }
      p {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

.socialLinks {
  height: 50px; // border: $standardBorder;
  // background: linear-gradient(to right, black, blue, #cc0066, #ff00ff);
  background-image: url("../images/background2.jpg");
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-radius: 0 0 22px 0;
  div {
    grid-column: 2/3;
  }
  i {
    font-size: 20px;
    color: white;
    line-height: 50px;
    text-align: center;
    margin: 0 13px;
  }
}

// Intro text
.introText {
  margin: 20px 10%;
  p {
    font-size: 20px;
  }
}

@mixin heading {
  padding: 10px;
  text-align: center;
  // background: linear-gradient(to right, black, blue, #cc0066, #ff00ff);
  // background-color: black;
  background-image: url("../images/background2.jpg");
  background-attachment: fixed;
  // background-color: transparent;
  color: white;
}

// Experience section for mobile
.experience {
  h1 {
    @include heading;
  }
  ul {
    font-size: 20px;
    list-style-type: none;
    .experienceHead {
      list-style-type: disc;
    }
    margin: 20px 10%;
    li {
      margin-bottom: 10px;
    }
  }
}

// Education section for mobile
.education {
  h1 {
    @include heading;
  }
  ul {
    font-size: 20px;
    list-style-type: none;
    .educationHead {
      list-style-type: disc;
    }
    margin: 20px 10%;
  }
}

// Skills section for mobile
.skills {
  h1 {
    @include heading;
  }
  @mixin skills {
    height: 30px;
    font-size: 20px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    background-image: url("../images/background2.jpg");
    background-attachment: fixed;
    color: white;
    margin-bottom: 20px;
  }
  .skillsContainer {
    margin: 20px 20%;
    .html {
      @include skills;
      width: 80%;
    }
    .css {
      @include skills;
      width: 90%;
    }
    .javaScript {
      @include skills;
      width: 75%;
    }
    .fef {
      @include skills;
      width: 60%;
    }
    .java {
      @include skills;
      width: 76%;
    }
    .php {
      @include skills;
      width: 60%;
    }
  }
}

// Portfolio
  .portfolio{
    h1{
      @include heading;
    }
    img{
      width: 100%;
    }
    .portfolioSection{
      display: block;
    }
  }


footer {
  text-align: center;
  padding: 5px;
  background-image: url("../images/background2.jpg");
  background-attachment: fixed;
  color: white;
}

// Responsive for tablet
@media screen and (min-width: 780px) {
  nav ul {
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-image: url("../images/background2.jpg");
    background-attachment: fixed;
  }
  .visibleNav {
    float: left;
  }
  .navLinks {
    float: right;
    position: relative;
    background-image: url("../images/background2.jpg");
    background-attachment: fixed;
    height: 50px;
    li {
      display: inline;
      line-height: 50px;
      margin: 10px;
      a {
        color: white;
      }
    }
  }
  .background {
    width: 90%; // height: 400px;
    margin: 0 auto;
    padding: 5%;
    padding-bottom: 0;
    background-image: url("../images/background2.jpg");
    background-attachment: fixed;
    .header {
      background-color: white;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1.4fr 1fr;
      .mainInfo {
        margin: 0;
        margin-top: 50px;
        margin-left: 50px;
      }
      img {
        margin: 0;
        vertical-align: middle;
        width: 550px; // height: 100%;
      }
    }
  }
  .socialLinks {
    width: 100%;
    display: block;
    margin: 0 auto;
    div {
      margin-left: 40%;
    }
  }
  .introText {
    margin: 50px 20%;
    h1 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
    }
  }
  @mixin tabletList {
    display: block;
    margin: 50px auto;
    width: 50%;
  }
  .experience {
    ul {
      @include tabletList;
    }
  }
  .education {
    ul {
      @include tabletList;
      li {
        margin-bottom: 10px;
      }
    }
  }

  .portfolio{
    h1{
      @include heading;
    }
    img{
      width: 100%;
    }
    .portfolioSection{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

// Responsive for desktop
@media screen and (min-width:1000px) {
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../images/background2.jpg");
    background-attachment: fixed;
  }
  .visibleNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    float: left;
  }
  .navLinks {
    float: right;
    position: relative;
    display: inline;
    background-image: url("../images/background2.jpg");
    background-attachment: fixed;
    height: 50px;
    li {
      display: inline;
      line-height: 50px;
      a {
        color: white;
      }
    }
  }
  .background {
    .header {
      width: 70%;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      .mainInfo {}
      img {
        width: 340px;
      }
    }
  }
  .socialLinks {
    width: 63%;
    margin: 0 auto;
    div {
      margin-left: 38%;
    }
  }
  .introText {
    margin: 100px 30%;
    text-align: center;
  }
  .experience {
    ul {
      margin: 100px auto;
      li {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width:1200px) {
  .portfolio{
    h1{
      @include heading;
    }
    img{
      width: 100%;
    }
    .portfolioSection{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .background {
   
    .header {
      .mainInfo {
        width: 80%;
        margin: 20px 0;
        * {
          margin-bottom: 5px;
        }
        h1 {
          font-weight: lighter;
          font-size: 23px;
        }
        h2 {
          font-size: 20px;
          font-weight: bold;
        }
        p {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
      img {
        max-width: 100%;
        display: block;
        // margin: 0 auto;
      }
    }
  }
}