body {
  background-color: lightblue;
}
// Universal Styles
// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$standardBorder: 1px solid black;
* {
  font-family: "Raleway", sans-serif;
  color: #4d4d4d;
}

// Navigation
.visibleNav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 50px;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  h1 {
    line-height: 50px;
    text-align: right;
    font-size: 25px;
  }
  button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 10px;
  }
}

nav {
  background-color: #ccc;
  position: sticky;
  top: 0;
  z-index: 4000;
}

.navLinks {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  li {
    list-style-type: none;
    margin: 40px 0;
    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
    }
  }
}

// Make hamburger disappear on larger sites
@media screen and (min-width: 780px) {
  #icon {
    display: none;
  }
}

.background {
  margin: 0 10%;
  padding-bottom: 20px;
  width: 80%;
  background-color: lightblue;
  .header {
    display: block;
    .mainInfo {
      width: 80%;
      margin: 20px 10%;
      * {
        margin-bottom: 5px;
      }
      h1 {
        font-weight: lighter;
        font-size: 20px;
      }
      h2 {
        font-size: 17px;
        font-weight: bold;
      }
      p {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

.socialLinks {
  height: 50px; // border: $standardBorder;
  // background: linear-gradient(to right, black, blue, #cc0066, #ff00ff);
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  display: grid;
  // grid-template-columns: 1fr 2fr 1fr;
  border-radius: 0 0 22px 0;
  div {
    grid-column: 1/4;
    text-align: center;
    // background-image: url("../images/background2.png");
  }
  i {
    font-size: 20px;
    color: white;
    line-height: 50px;
    text-align: center;
    margin: 0 13px;
  }
}

// Intro text
.introText {
  margin: 20px 10%;
  p {
    font-size: 20px;
  }
}

@mixin heading {
  padding: 10px;
  text-align: center;
  // background: linear-gradient(to right, black, blue, #cc0066, #ff00ff);
  // background-color: black;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  // background-color: transparent;
  color: white;
}

// Experience section for mobile
.experience {
  z-index: 5;
  h1 {
    @include heading;
  }
}

// Education section for mobile
.education {
  h1 {
    @include heading;
  }
}

// Skills section for mobile
.skills {

  background-color: white;

  img {
    padding: 20px;
    width: 100%;
  }

  h1 {
    @include heading;
    grid-column: 1/5;
  }
}

.container {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin: 0 auto;
  
  width: 50%;
}

// Portfolio
.portfolio {
  h1 {
    @include heading;
  }
  img {
    width: 100%;
  }
  .portfolioSection {
    display: block;
    margin: 20px;
  }
}

footer {
  text-align: center;
  padding: 5px;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
}

// Responsive for tablet
@media screen and (min-width: 780px) {
  nav ul {
    display: grid;
    grid-template-columns: 4fr 4fr;
    background-image: url("../images/background2.png");
    background-attachment: fixed;
  }
  .visibleNav {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    float: left;
  }
  .navLinks {
    position: relative;
    display: inline;

    background-image: url("../images/background2.png");
    background-attachment: fixed;
    li {
      display: inline;
      line-height: 50px;
      a {
        color: white;
      }
    }
  }
  .background {
    width: 100%; // height: 400px;
    margin: 0 auto;
    padding: 5%;
    padding-bottom: 0;
    background-image: url("../images/background2.png");
    background-attachment: fixed;
    .header {
      background-color: white;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1.4fr 1fr;
      .mainInfo {
        margin: 0;
        margin-top: 50px;
        margin-left: 50px;
      }
      img {
        margin: 0;
        vertical-align: middle;
        width: 550px; // height: 100%;
      }
    }
  }
  .socialLinks {
    width: 100%;
    display: block;
    margin: 0 auto;
    div {
      // margin-left: 40%;
    }
  }
  .introText {
    margin: 50px 20%;
    h1 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
    }
  }
  @mixin tabletList {
    display: block;
    margin: 50px auto;
    width: 50%;
  }
  .experience {
    ul {
      @include tabletList;
    }
  }
  .education {
    ul {
      @include tabletList;
      li {
        margin-bottom: 10px;
      }
    }
  }

  .portfolio {
    h1 {
      @include heading;
    }
    img {
      width: 100%;
    }
    .portfolioSection {
      margin: 40px 100px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }
}

// Timeline starts here
.timeline {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  z-index: 5;
}

$title-background: #3d9e67;
$background-color: #faf8eb;
$content-background-color: #c0c5c1;
$content-background-gradient: #7d8491;
$time-color: #fff;
$text-color: #fff;
$content-width: 450px;

.timeline {
  color: $text-color;
  z-index: 5;

  h1,
  ul li .content h2 {
    text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
  }
  ul {
    // background: $background-color;
    padding: 0;

    li {
      background: $content-background-color;
      position: relative;
      margin: 0 auto;
      width: 5px;
      padding-bottom: 40px;
      list-style-type: none;

      &:last-child {
        padding-bottom: 7px;
      }

      &:before {
        content: "";
        background: $background-color;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        width: 20px;
        height: 20px;
        border: 3px solid $content-background-color;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }

      .hidden {
        opacity: 0;
      }

      .content {
        background: $content-background-color;
        position: relative;
        top: 7px;
        width: $content-width;
        padding: 20px;

        h2 {
          color: $time-color;
          padding-bottom: 10px;
          // text-align: center;
        }

        p {
          // text-align: center;
        }

        &:before {
          content: "";
          background: $content-background-color;
          position: absolute;
          top: 0px;
          width: 38px;
          height: 5px;
        }
      }

      &:nth-child(odd) .content {
        text-align: justify;
        left: 50px;
        background: $content-background-color;
        background: -webkit-linear-gradient(
          -45deg,
          $content-background-gradient,
          $content-background-color
        );
        background: linear-gradient(
          -45deg,
          $content-background-gradient,
          $content-background-color
        );
      }

      &:nth-child(odd) .content:before {
        text-align: justify;
        left: -38px;
      }

      &:nth-child(even) .content {
        text-align: justify;
        left: calc(-#{$content-width} - 45px);
        background: $content-background-color;
        background: -webkit-linear-gradient(
          45deg,
          $content-background-gradient,
          $content-background-color
        );
        background: linear-gradient(
          45deg,
          $content-background-gradient,
          $content-background-color
        );
      }

      &:nth-child(even) .content:before {
        right: -38px;
        text-align: justify;
      }
    }
  }
}

/* -------------------------
   ----- Media Queries ----- 
   ------------------------- */

@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 100%;
  }
  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 45px);
  }
}

@media screen and (max-width: 700px) {
  .timeline ul li {
    margin-left: 20px;

    .content {
      width: calc(100vw - 100px);

      h2 {
        text-align: initial;
      }
    }

    &:nth-child(even) .content {
      left: 45px;
      background: $content-background-color;
      background: -webkit-linear-gradient(
        -45deg,
        $content-background-gradient,
        $content-background-color
      );
      background: linear-gradient(
        -45deg,
        $content-background-gradient,
        $content-background-color
      );
    }

    &:nth-child(even) .content:before {
      left: -33px;
    }
  }
}

// Responsive for desktop
@media screen and (min-width: 1000px) {
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../images/background2.png");
    background-attachment: fixed;
  }
  .visibleNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    float: left;
  }
  .navLinks {
    float: right;
    position: relative;
    display: inline;

    background-image: url("../images/background2.png");
    background-attachment: fixed;
    height: 50px;
    li {
      display: inline;
      margin-right: 30px;
      line-height: 50px;
      a {
        color: white;
      }
    }
  }
  .background {
    .header {
      width: 70%;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      .mainInfo {
        padding: 20px;
      }
      img {
        width: 340px;
      }
    }
  }
  .socialLinks {
    width: 63%;
    margin: 0 auto;
    div {
      // margin-left: 38%;
    }
  }
  .introText {
    margin: 100px 30%;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    h1 {
      @include heading;
    }
    img {
      width: 100%;
    }
    .portfolioSection {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .background {
    .header {
      .mainInfo {
        width: 80%;
        margin: 20px 0;
        * {
          margin-bottom: 5px;
        }
        h1 {
          font-weight: lighter;
          font-size: 23px;
        }
        h2 {
          font-size: 20px;
          font-weight: bold;
        }
        p {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
      img {
        max-width: 100%;
        display: block;
        // margin: 0 auto;
      }
    }
  }
}
