body {
  background-color: lightblue;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #4d4d4d;
}

.visibleNav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  height: 50px;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
}

.visibleNav h1 {
  line-height: 50px;
  text-align: right;
  font-size: 25px;
}

.visibleNav button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 10px;
}

nav {
  background-color: #ccc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navLinks {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.navLinks li {
  list-style-type: none;
  margin: 40px 0;
}

.navLinks li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

@media screen and (min-width: 780px) {
  #icon {
    display: none;
  }
}

.background {
  margin: 0 10%;
  padding-bottom: 20px;
  width: 80%;
  background-color: lightblue;
}

.background .header {
  display: block;
}

.background .header .mainInfo {
  width: 80%;
  margin: 20px 10%;
}

.background .header .mainInfo * {
  margin-bottom: 5px;
}

.background .header .mainInfo h1 {
  font-weight: lighter;
  font-size: 20px;
}

.background .header .mainInfo h2 {
  font-size: 17px;
  font-weight: bold;
}

.background .header .mainInfo p {
  font-size: 15px;
  margin-bottom: 10px;
}

.background .header img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.socialLinks {
  height: 50px;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  border-radius: 0 0 22px 0;
}

.socialLinks div {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.socialLinks i {
  font-size: 20px;
  color: white;
  line-height: 50px;
  text-align: center;
  margin: 0 13px;
}

.introText {
  margin: 20px 10%;
}

.introText p {
  font-size: 20px;
}

.experience h1 {
  padding: 10px;
  text-align: center;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
}

.experience ul {
  font-size: 20px;
  list-style-type: none;
  margin: 20px 10%;
}

.experience ul .experienceHead {
  list-style-type: disc;
}

.experience ul li {
  margin-bottom: 10px;
}

.education h1 {
  padding: 10px;
  text-align: center;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
}

.education ul {
  font-size: 20px;
  list-style-type: none;
  margin: 20px 10%;
}

.education ul .educationHead {
  list-style-type: disc;
}

.skills h1 {
  padding: 10px;
  text-align: center;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
}

.skills .skillsContainer {
  margin: 20px 20%;
}

.skills .skillsContainer .html {
  height: 30px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  text-align: center;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
  margin-bottom: 20px;
  width: 80%;
}

.skills .skillsContainer .css {
  height: 30px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  text-align: center;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
  margin-bottom: 20px;
  width: 90%;
}

.skills .skillsContainer .javaScript {
  height: 30px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  text-align: center;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
  margin-bottom: 20px;
  width: 75%;
}

.skills .skillsContainer .fef {
  height: 30px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  text-align: center;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
  margin-bottom: 20px;
  width: 60%;
}

.skills .skillsContainer .java {
  height: 30px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  text-align: center;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
  margin-bottom: 20px;
  width: 76%;
}

.skills .skillsContainer .php {
  height: 30px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  text-align: center;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
  margin-bottom: 20px;
  width: 60%;
}

.portfolio h1 {
  padding: 10px;
  text-align: center;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
}

.portfolio img {
  width: 100%;
}

.portfolio .portfolioSection {
  display: block;
}

footer {
  text-align: center;
  padding: 5px;
  background-image: url("../images/background2.png");
  background-attachment: fixed;
  color: white;
}

@media screen and (min-width: 780px) {
  nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 4fr;
        grid-template-columns: 4fr 4fr;
    background-image: url("../images/background2.png");
    background-attachment: fixed;
  }
  .visibleNav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr;
    float: left;
  }
  .navLinks {
    float: right;
    position: relative;
    display: inline;
    background-image: url("../images/background2.png");
    background-attachment: fixed;
    height: 50px;
  }
  .navLinks li {
    display: inline;
    line-height: 50px;
  }
  .navLinks li a {
    color: white;
  }
  .background {
    width: 90%;
    margin: 0 auto;
    padding: 5%;
    padding-bottom: 0;
    background-image: url("../images/background2.png");
    background-attachment: fixed;
  }
  .background .header {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.4fr 1fr;
        grid-template-columns: 1.4fr 1fr;
  }
  .background .header .mainInfo {
    margin: 0;
    margin-top: 50px;
    margin-left: 50px;
  }
  .background .header img {
    margin: 0;
    vertical-align: middle;
    width: 550px;
  }
  .socialLinks {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .socialLinks div {
    margin-left: 40%;
  }
  .introText {
    margin: 50px 20%;
  }
  .introText h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .introText p {
    font-size: 20px;
  }
  .experience ul {
    display: block;
    margin: 50px auto;
    width: 50%;
  }
  .education ul {
    display: block;
    margin: 50px auto;
    width: 50%;
  }
  .education ul li {
    margin-bottom: 10px;
  }
  .portfolio h1 {
    padding: 10px;
    text-align: center;
    background-image: url("../images/background2.png");
    background-attachment: fixed;
    color: white;
  }
  .portfolio img {
    width: 100%;
  }
  .portfolio .portfolioSection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    background-image: url("../images/background2.png");
    background-attachment: fixed;
  }
  .visibleNav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    float: left;
  }
  .navLinks {
    float: right;
    position: relative;
    display: inline;
    background-image: url("../images/background2.png");
    background-attachment: fixed;
    height: 50px;
  }
  .navLinks li {
    display: inline;
    margin-right: 30px;
    line-height: 50px;
  }
  .navLinks li a {
    color: white;
  }
  .background .header {
    width: 70%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
  }
  .background .header .mainInfo {
    padding: 20px;
  }
  .background .header img {
    width: 340px;
  }
  .socialLinks {
    width: 63%;
    margin: 0 auto;
  }
  .socialLinks div {
    margin-left: 38%;
  }
  .introText {
    margin: 100px 30%;
    text-align: center;
  }
  .experience ul {
    margin: 100px auto;
  }
  .experience ul li {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio h1 {
    padding: 10px;
    text-align: center;
    background-image: url("../images/background2.png");
    background-attachment: fixed;
    color: white;
  }
  .portfolio img {
    width: 100%;
  }
  .portfolio .portfolioSection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .background .header .mainInfo {
    width: 80%;
    margin: 20px 0;
  }
  .background .header .mainInfo * {
    margin-bottom: 5px;
  }
  .background .header .mainInfo h1 {
    font-weight: lighter;
    font-size: 23px;
  }
  .background .header .mainInfo h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .background .header .mainInfo p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .background .header img {
    max-width: 100%;
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */